<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.huateng.xhcp.mapper.system.FileInfoMapper">
    <!-- 查询文件信息信息 -->
	<select id="queryFileInfo" resultType="FileInfo" parameterType="FileInfo">
		SELECT file_id,name,file_name,file_path,create_time,file_type,file_suffix
		FROM tbl_file_info
		<where>
			<if test="file_id != null and file_id != ''">AND file_id = #{file_id,jdbcType=INTEGER}</if>
			<if test="name != null and name != ''">AND name = #{name,jdbcType=VARCHAR}</if>
			<if test="file_name != null and file_name != ''">AND file_name = #{file_name,jdbcType=VARCHAR}</if>
			<if test="file_path != null and file_path != ''">AND file_path = #{file_path,jdbcType=VARCHAR}</if>
			<if test="create_time != null and create_time != ''">AND create_time = #{create_time,jdbcType=VARCHAR}</if>
			<if test="file_type != null and file_type != ''">AND file_type = #{file_type,jdbcType=VARCHAR}</if>
			<if test="file_suffix != null and file_suffix != ''">AND file_suffix = #{file_suffix,jdbcType=VARCHAR}</if>
			
		</where>
		<if test="b_order_name != null  and b_order_name != ''"><![CDATA[order by ${b_order_name} ${b_order_asc}  ]]></if>
	</select>
	
	<!-- 新增文件信息 -->
	<insert id="addFileInfo" parameterType="FileInfo" useGeneratedKeys="true" keyProperty="file_id">
		INSERT INTO tbl_file_info (name,file_name,file_path,create_time,file_type,file_suffix)
		VALUES (#{name,jdbcType=VARCHAR},#{file_name,jdbcType=VARCHAR},#{file_path,jdbcType=VARCHAR},DATE_FORMAT(now(),'%Y%m%d%H%i%s'),#{file_type,jdbcType=VARCHAR},#{file_suffix,jdbcType=VARCHAR})
	</insert>
	
	<!-- 批量新增文件信息信息 -->
	<insert id="addBatchFileInfo" parameterType="FileInfo" useGeneratedKeys="true" keyProperty="file_id">
		INSERT INTO tbl_file_info (name,file_name,file_path,create_time,file_type,file_suffix)
		VALUES
		<foreach item="item" collection="list" separator=",">
			(#{item.name,jdbcType=VARCHAR},#{item.file_name,jdbcType=VARCHAR},#{item.file_path,jdbcType=VARCHAR},DATE_FORMAT(now(),'%Y%m%d%H%i%s'),#{item.file_type,jdbcType=VARCHAR},#{item.file_suffix,jdbcType=VARCHAR})
		</foreach>
	</insert>
	
	<!-- 更新文件信息信息 -->
	<update id="updateFileInfo" parameterType="FileInfo">
		UPDATE tbl_file_info
		<set>
	      	<if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
	      	<if test="file_name != null">file_name = #{file_name,jdbcType=VARCHAR},</if>
	      	<if test="file_path != null">file_path = #{file_path,jdbcType=VARCHAR},</if>
	      	<if test="file_type != null">file_type = #{file_type,jdbcType=VARCHAR},</if>
	      	<if test="file_suffix != null">file_suffix = #{file_suffix,jdbcType=VARCHAR},</if>
	      	
		</set>
		WHERE file_id = #{file_id,jdbcType=INTEGER}
	</update>
	
	<!-- 删除文件信息信息 -->
	<delete id="deleteFileInfo" parameterType="FileInfo">
		DELETE FROM tbl_file_info WHERE file_id = #{file_id,jdbcType=INTEGER}
	</delete>
	
	<!-- 批量删除文件信息信息-->
	<delete id="deleteBatchFileInfo" parameterType="FileInfo">
		DELETE FROM tbl_file_info WHERE file_id IN
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item.file_id,jdbcType=INTEGER}
		</foreach>
	</delete>
</mapper>
