<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.huateng.xhcp.mapper.system.ModuleMapper">
    <!-- 列表查询 -->
	<select id="queryModule" resultType="Module" parameterType="Module">
		SELECT module_id,module_opcode,module_name,pmodule_id,module_entry,module_type,module_valid,
				module_pic_big,module_pic_small,help_page,module_order,module_hide,module_version,module_target
		FROM sys_module
		<where>
			<if test="module_id != null and module_id != ''">module_id LIKE CONCAT('%', CONCAT(#{module_id},'%'))</if>
			<if test="module_name != null  and module_name != ''">AND module_name LIKE CONCAT('%', CONCAT(#{module_name},'%'))</if>
			<if test="pmodule_id != null  and pmodule_id != ''">AND pmodule_id LIKE CONCAT('%', CONCAT(#{pmodule_id},'%'))</if>
			<if test="module_entry != null  and module_entry != ''">AND module_entry LIKE CONCAT('%', CONCAT(#{module_entry},'%'))</if>
	      	<if test="module_type != null and module_type gte 0">AND module_type = #{module_type,jdbcType=INTEGER}</if>
	      	<if test="module_valid != null and module_valid gte 0">AND module_valid = #{module_valid,jdbcType=INTEGER}</if>
			<if test="help_page != null  and help_page != ''">AND help_page = #{help_page}</if>
	      	<if test="module_hide != null and module_hide gte 0">AND module_hide = #{module_hide,jdbcType=INTEGER}</if>
		</where>
		<if test="b_order_name != null  and b_order_name != ''"><![CDATA[order by ${b_order_name} ${b_order_asc}  ]]></if>
	</select>
    <!-- 简单的条件查询 -->
	<select id="findModuleBy" resultType="Module" parameterType="Module">
		SELECT module_id,module_opcode,module_name,pmodule_id,module_entry,module_type,module_valid,
				module_pic_big,module_pic_small,help_page,module_order,module_hide,module_version,module_target
		FROM sys_module
		<where>
			<if test="module_id != null and module_id != ''">module_id = #{module_id}</if>
			<if test="module_opcode != null  and module_opcode != ''">AND module_opcode = #{module_opcode}</if>
			<if test="module_name != null  and module_name != ''">AND module_name = #{module_name}</if>
			<if test="pmodule_id != null  and pmodule_id != ''">AND pmodule_id = #{pmodule_id}</if>
			<if test="module_entry != null  and module_entry != ''">AND module_entry = #{module_entry}</if>
	      	<if test="module_type != null and module_type gte 0">AND module_type = #{module_type,jdbcType=INTEGER}</if>
	      	<if test="module_valid != null and module_valid gte 0">AND module_valid = #{module_valid,jdbcType=INTEGER}</if>
			<if test="module_pic_big != null  and module_pic_big != ''">AND module_pic_big = #{module_pic_big}</if>
			<if test="module_pic_small != null  and module_pic_small != ''">AND module_pic_small = #{module_pic_small}</if>
			<if test="help_page != null  and help_page != ''">AND help_page = #{help_page}</if>
	      	<if test="module_order != null and module_order gte 0">AND module_order = #{module_order,jdbcType=INTEGER}</if>
	      	<if test="module_hide != null and module_hide gte 0">AND module_hide = #{module_hide,jdbcType=INTEGER}</if>
			<if test="module_version != null  and module_version != ''">AND module_version = #{module_version}</if>
			<if test="module_target != null  and module_target != ''">AND module_target = #{module_target}</if>
		</where>
		<if test="b_order_name != null  and b_order_name != ''"><![CDATA[order by ${b_order_name} ${b_order_asc}  ]]></if>
	</select>
    <!-- 菜单查询 -->
	<select id="findMenuBy" resultType="Module" parameterType="Module">
		<![CDATA[
		SELECT module_id,module_opcode,module_name,pmodule_id,module_entry,module_type,module_valid,
				module_pic_big,module_pic_small,help_page,module_order,module_hide,module_version,module_target,
				(SELECT COUNT(1) FROM sys_module WHERE pmodule_id = a.module_id
					AND (module_type != 3 OR module_type IS NULL)
					AND (module_hide IS NULL OR module_hide = 0)
				) module_level
		FROM sys_module a
		]]>
		<where>
			<![CDATA[ 
				(module_type != 3 OR module_type IS NULL) AND (module_hide IS NULL OR module_hide = 0)
			]]>
			<if test="module_id != null and module_id != ''">AND module_id = #{module_id}</if>
			<if test="module_name != null  and module_name != ''">AND module_name = #{module_name}</if>
			<if test="pmodule_id != null  and pmodule_id != ''">AND pmodule_id = #{pmodule_id}</if>
		</where>
		<if test="b_order_name != null  and b_order_name != ''"><![CDATA[order by ${b_order_name} ${b_order_asc}  ]]></if>
	</select>
    
    <!-- 树形查询，只适用于oracle -->
	<select id="findTreeMenuBy" resultType="Module" parameterType="Module">
		<![CDATA[ 
			SELECT module_id,module_opcode,module_name,pmodule_id,module_entry,module_type,module_valid,
					module_pic_big,module_pic_small,help_page,module_order,module_hide,module_version,module_target
			FROM sys_module 
			WHERE
			(module_type != '3' OR module_type IS NULL) AND (module_hide IS NULL OR module_hide = '0')
			START WITH module_id = 'Module' CONNECT BY PRIOR module_id = pmodule_id  
		]]>
		<if test="b_order_name != null  and b_order_name != ''"><![CDATA[order by ${b_order_name} ${b_order_asc}  ]]></if>
	</select>
    <!-- 树形查询，只适用于oracle -->
	<select id="getModuleParents" resultType="Module" parameterType="String">
		<![CDATA[ 
			SELECT module_id,module_opcode,module_name,pmodule_id,module_entry,module_type,module_valid,
					module_pic_big,module_pic_small,help_page,module_order,module_hide,module_version,module_target
			FROM sys_module
			START WITH module_id = #{module_id} CONNECT BY PRIOR pmodule_id = module_id  
		]]>
	</select>
    <!-- 只查询用户有权限的菜单 -->
	<!--<select id="findModuleByAccount" resultType="Module" parameterType="String">
		<![CDATA[ 
			SELECT DISTINCT *
			  FROM sys_module
			 WHERE (module_type != 3 OR module_type IS NULL)
			   AND (module_hide != 1 OR module_hide IS NULL)
			 START WITH module_id IN
			            (SELECT DISTINCT c.module_id
			               FROM sys_accountrole a, sys_rolemodule b, sys_module c
			              WHERE  a.account_id = #{account_id}
			                AND a.role_id = b.role_id
			                AND b.module_id = c.module_id)
			CONNECT BY PRIOR pmodule_id = module_id
			ORDER BY module_order NULLS FIRST
		]]>
	</select>-->

	<select id="findLeafByAccount" resultType="Module" parameterType="String">
		<![CDATA[
			SELECT DISTINCT c.module_id,c.pmodule_id,c.module_name,c.module_entry,c.module_type,c.module_target
			               FROM sys_accountrole a, sys_rolemodule b, sys_module c
			              WHERE  a.account_id = #{account_id}
			                AND a.role_id = b.role_id
			                AND b.module_id = c.module_id
		]]>
	</select>

    <!-- 只查询用户有权限的菜单 -->
	<select id="findModuleSuperUser" resultType="Module" >
		<![CDATA[
			SELECT DISTINCT module_id,pmodule_id,module_name,module_entry,module_type,module_target,module_order
			  FROM sys_module
			 WHERE (module_type != 3 OR module_type IS NULL)
			   AND (module_hide != 1 OR module_hide IS NULL)
			ORDER BY IF(ISNULL(module_order),0,1),module_order
		]]>
	</select>
	
	<!-- 新增菜单 -->
	<insert id="insertModule" parameterType="Module">
		<![CDATA[ 
			INSERT INTO sys_module (module_id,module_opcode,module_name,pmodule_id,module_entry,module_type,module_valid,
					module_pic_big,module_pic_small,help_page,module_order,module_hide,module_version,module_target)
			VALUES(#{module_id,jdbcType=VARCHAR},#{module_opcode,jdbcType=VARCHAR},#{module_name,jdbcType=VARCHAR},
					#{pmodule_id,jdbcType=VARCHAR}, #{module_entry,jdbcType=VARCHAR},#{module_type,jdbcType=INTEGER},
					#{module_valid,jdbcType=INTEGER}, #{module_pic_big,jdbcType=VARCHAR},#{module_pic_small,jdbcType=VARCHAR},
					#{help_page,jdbcType=VARCHAR}, #{module_order,jdbcType=INTEGER},#{module_hide,jdbcType=INTEGER},
					#{module_version,jdbcType=VARCHAR},#{module_target,jdbcType=VARCHAR})
		]]>
	</insert>
	
	<!-- 根据Id更新菜单信息 -->
	<update id="updateModuleById" parameterType="Module">
		<![CDATA[ 
			UPDATE sys_module 
		]]>
		<set>
			<if test="module_opcode != null ">module_opcode = #{module_opcode},</if>
			<if test="module_name != null ">module_name = #{module_name},</if>
			<if test="pmodule_id != null ">pmodule_id = #{pmodule_id},</if>
			<if test="module_entry != null ">module_entry = #{module_entry},</if>
	      	<if test="module_type != null ">module_type = #{module_type,jdbcType=INTEGER},</if>
	      	<if test="module_valid != null ">module_valid = #{module_valid,jdbcType=INTEGER},</if>
			<if test="module_pic_big != null ">module_pic_big = #{module_pic_big},</if>
			<if test="module_pic_small != null ">module_pic_small = #{module_pic_small},</if>
			<if test="help_page != null ">help_page = #{help_page},</if>
	      	<if test="module_order != null ">module_order = #{module_order,jdbcType=INTEGER},</if>
	      	<if test="module_hide != null ">module_hide = #{module_hide,jdbcType=INTEGER},</if>
			<if test="module_version != null ">module_version = #{module_version},</if>
			<if test="module_target != null ">module_target = #{module_target}</if>
		</set>
		<![CDATA[ 
			WHERE module_id = #{module_id}
		]]>
	</update>
	
	<!-- 根据Id删除菜单信息 -->
	<delete id="deleteModuleById" parameterType="String">
		<![CDATA[ 
			DELETE FROM sys_module WHERE module_id = #{module_id}
		]]>
	
	</delete>

	<!-- 根据传入的父节点ID查询菜单 -->
	<select id="queryByPModuleId" parameterType="Module" resultType="Module">
		SELECT module_id,pmodule_id,module_name FROM sys_module WHERE module_id IN
		<foreach collection="list" open="(" close=")" separator="," item="item">
			#{item.pmodule_id, jdbcType=VARCHAR}
		</foreach>
	</select>
</mapper>