<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.huateng.xhcp.mapper.system.ScoreDetailMapper">
    <!-- 查询会员积分明细信息 -->
	<select id="queryScoreDetail" resultType="ScoreDetail" parameterType="ScoreDetail">
		SELECT score_id,account_id,score,reason,create_time
		FROM tbl_score_detail
		<where>
			<if test="score_id != null and score_id != ''">AND score_id = #{score_id,jdbcType=VARCHAR}</if>
			<if test="account_id != null and account_id != ''">AND account_id = #{account_id,jdbcType=VARCHAR}</if>
			<if test="score != null and score != ''">AND score = #{score,jdbcType=VARCHAR}</if>
			<if test="reason != null and reason != ''">AND reason = #{reason,jdbcType=VARCHAR}</if>
			<if test="create_time != null and create_time != ''">AND create_time = #{create_time,jdbcType=VARCHAR}</if>
			
		</where>
		<if test="b_order_name != null  and b_order_name != ''"><![CDATA[order by ${b_order_name} ${b_order_asc}  ]]></if>
	</select>
	
	<!-- 新增会员积分明细 -->
	<insert id="addScoreDetail" parameterType="ScoreDetail">
		INSERT INTO tbl_score_detail (score_id,account_id,score,reason,create_time)
		VALUES (#{score_id,jdbcType=VARCHAR},#{account_id,jdbcType=VARCHAR},#{score,jdbcType=VARCHAR},#{reason,jdbcType=VARCHAR},#{create_time,jdbcType=VARCHAR})
	</insert>
	
	<!-- 批量新增会员积分明细信息 -->
	<insert id="addBatchScoreDetail" parameterType="ScoreDetail">
		INSERT INTO tbl_score_detail (score_id,account_id,score,reason,create_time)
		<foreach item="item" collection="list" separator="union all">
			SELECT #{item.score_id,jdbcType=VARCHAR},#{item.account_id,jdbcType=VARCHAR},#{item.score,jdbcType=VARCHAR},#{item.reason,jdbcType=VARCHAR},#{item.create_time,jdbcType=VARCHAR}
			FROM dual
		</foreach>
	</insert>
	
	<!-- 更新会员积分明细信息 -->
	<update id="updateScoreDetail" parameterType="ScoreDetail">
		UPDATE tbl_score_detail
		<set>
	      	<if test="score_id != null">score_id = #{score_id,jdbcType=VARCHAR},</if>
	      	<if test="account_id != null">account_id = #{account_id,jdbcType=VARCHAR},</if>
	      	<if test="score != null">score = #{score,jdbcType=VARCHAR},</if>
	      	<if test="reason != null">reason = #{reason,jdbcType=VARCHAR},</if>
	      	<if test="create_time != null">create_time = #{create_time,jdbcType=VARCHAR},</if>
	      	
		</set>
		WHERE score_id = #{score_id,jdbcType=VARCHAR}
	</update>
	
	<!-- 删除会员积分明细信息 -->
	<delete id="deleteScoreDetail" parameterType="ScoreDetail">
		DELETE FROM tbl_score_detail WHERE score_id = #{score_id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 批量删除会员积分明细信息-->
	<delete id="deleteBatchScoreDetail" parameterType="ScoreDetail">
		DELETE FROM tbl_score_detail WHERE score_id IN
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item.score_id,jdbcType=VARCHAR}
		</foreach>
	</delete>
</mapper>
