<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.huateng.xhcp.mapper.product.MerchCarMapper">
    <!-- 查询购物车信息 -->
	<select id="queryMerchCar" resultType="MerchCar" parameterType="MerchCar">
		SELECT car_id,a.merch_id,b.name AS merch_name,b.price,buy_num,account_id,a.create_time
		FROM tbl_merch_car
		LEFT JOIN tbl_merch_info b ON a.merch_id = b.merch_id
		<where>
			<if test="car_id != null and car_id != ''">AND car_id = #{car_id,jdbcType=INTEGER}</if>
			<if test="merch_id != null and merch_id != ''">AND a.merch_id = #{merch_id,jdbcType=INTEGER}</if>
			<if test="buy_num != null and buy_num != ''">AND buy_num = #{buy_num,jdbcType=INTEGER}</if>
			<if test="account_id != null and account_id != ''">AND account_id = #{account_id,jdbcType=VARCHAR}</if>
			<if test="create_time != null and create_time != ''">AND a.create_time = #{create_time,jdbcType=VARCHAR}</if>
			
		</where>
		<if test="b_order_name != null  and b_order_name != ''"><![CDATA[order by ${b_order_name} ${b_order_asc}  ]]></if>
	</select>
	
	<!-- 新增购物车 -->
	<insert id="addMerchCar" parameterType="MerchCar" useGeneratedKeys="true" keyProperty="car_id">
		INSERT INTO tbl_merch_car (merch_id,buy_num,account_id,create_time)
		VALUES (#{merch_id,jdbcType=INTEGER},#{buy_num,jdbcType=INTEGER},#{account_id,jdbcType=VARCHAR},DATE_FORMAT(now(),'%Y%m%d%H%i%s'))
	</insert>
	
	<!-- 批量新增购物车信息 -->
	<insert id="addBatchMerchCar" parameterType="MerchCar" useGeneratedKeys="true" keyProperty="car_id">
		INSERT INTO tbl_merch_car (merch_id,buy_num,account_id,create_time) VALUES
		<foreach item="item" collection="list" separator=",">
			(#{item.merch_id,jdbcType=INTEGER},#{item.buy_num,jdbcType=INTEGER},#{item.account_id,jdbcType=VARCHAR},DATE_FORMAT(now(),'%Y%m%d%H%i%s'))
		</foreach>
	</insert>
	
	<!-- 更新购物车信息 -->
	<update id="updateMerchCar" parameterType="MerchCar">
		UPDATE tbl_merch_car
		<set>
	      	<if test="car_id != null">car_id = #{car_id,jdbcType=INTEGER},</if>
	      	<if test="merch_id != null">merch_id = #{merch_id,jdbcType=INTEGER},</if>
	      	<if test="buy_num != null">buy_num = #{buy_num,jdbcType=INTEGER},</if>
	      	<if test="account_id != null">account_id = #{account_id,jdbcType=VARCHAR},</if>
	      	<if test="create_time != null">create_time = #{create_time,jdbcType=VARCHAR},</if>
	      	
		</set>
		WHERE car_id = #{car_id,jdbcType=VARCHAR}
	</update>
	
	<!-- 删除购物车信息 -->
	<delete id="deleteMerchCar" parameterType="MerchCar">
		DELETE FROM tbl_merch_car WHERE car_id = #{car_id,jdbcType=INTEGER}
	</delete>
	
	<!-- 批量删除购物车信息-->
	<delete id="deleteBatchMerchCar" parameterType="MerchCar">
		DELETE FROM tbl_merch_car WHERE car_id IN
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item.car_id,jdbcType=INTEGER}
		</foreach>
	</delete>
</mapper>
