<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.huateng.xhcp.mapper.nav.NavInfoMapper">
    <!-- 查询导航信息信息 -->
	<select id="queryNavInfo" resultType="NavInfo" parameterType="NavInfo">
		SELECT nav_id,pnav_id,name,url,is_out_link,is_default,order_id,create_time
		FROM tbl_nav_info
		<where>
			<if test="nav_id != null and nav_id != ''">AND nav_id = #{nav_id,jdbcType=VARCHAR}</if>
			<if test="pnav_id != null and pnav_id != ''">AND pnav_id = #{pnav_id,jdbcType=VARCHAR}</if>
			<if test="name != null and name != ''">AND name = #{name,jdbcType=VARCHAR}</if>
			<if test="url != null and url != ''">AND url = #{url,jdbcType=VARCHAR}</if>
			<if test="is_out_link != null and is_out_link != ''">AND is_out_link = #{is_out_link,jdbcType=VARCHAR}</if>
			<if test="is_default != null and is_default != ''">AND is_default = #{is_default,jdbcType=VARCHAR}</if>
			<if test="order_id != null and order_id != ''">AND order_id = #{order_id,jdbcType=VARCHAR}</if>
			<if test="create_time != null and create_time != ''">AND create_time = #{create_time,jdbcType=VARCHAR}</if>
			
		</where>
		<if test="b_order_name != null  and b_order_name != ''"><![CDATA[ORDER BY ${b_order_name} ${b_order_asc}  ]]></if>
		<if test='b_order_name == null  and b_order_name == ""'><![CDATA[ORDER BY order_id ASC  ]]></if>
	</select>

	<select id="querySubNav" resultType="NavInfo">
		SELECT nav_id,pnav_id,name,url,is_out_link,is_default,order_id,create_time
		FROM tbl_nav_info WHERE pnav_id IN (SELECT nav_id FROM  tbl_nav_info WHERE pnav_id = -1 AND IS_OUT_LINK='0')
	</select>
	<!-- 新增导航信息 -->
	<insert id="addNavInfo" parameterType="NavInfo" useGeneratedKeys="true" keyProperty="nav_id">
		INSERT INTO tbl_nav_info (pnav_id,name,url,is_out_link,is_default,order_id,create_time)
		VALUES (#{pnav_id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR},#{is_out_link,jdbcType=VARCHAR},#{is_default,jdbcType=VARCHAR},#{order_id,jdbcType=VARCHAR},DATE_FORMAT(now(),'%Y%m%d%H%i%s'))
	</insert>
	
	<!-- 批量新增导航信息信息 -->
	<insert id="addBatchNavInfo" parameterType="NavInfo">
		INSERT INTO tbl_nav_info (nav_id,pnav_id,name,url,is_out_link,is_default,order_id,create_time)
		<foreach item="item" collection="list" separator="union all">
			SELECT #{item.nav_id,jdbcType=INTEGER},#{item.pnav_id,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR},#{item.url,jdbcType=VARCHAR},#{item.is_out_link,jdbcType=VARCHAR},#{item.is_default,jdbcType=VARCHAR},#{item.order_id,jdbcType=VARCHAR},DATE_FORMAT(now(),'%Y%m%d%H%i%s')
			FROM dual
		</foreach>
	</insert>
	
	<!-- 更新导航信息信息 -->
	<update id="updateNavInfo" parameterType="NavInfo">
		UPDATE tbl_nav_info
		<set>
	      	<if test="pnav_id != null">pnav_id = #{pnav_id,jdbcType=VARCHAR},</if>
	      	<if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
	      	<if test="url != null">url = #{url,jdbcType=VARCHAR},</if>
	      	<if test="is_out_link != null">is_out_link = #{is_out_link,jdbcType=VARCHAR},</if>
	      	<if test="is_default != null">is_default = #{is_default,jdbcType=VARCHAR},</if>
	      	<if test="order_id != null">order_id = #{order_id,jdbcType=VARCHAR},</if>

		</set>
		WHERE nav_id = #{nav_id,jdbcType=INTEGER}
	</update>
	
	<!-- 删除导航信息信息 -->
	<delete id="deleteNavInfo" parameterType="NavInfo">
		DELETE FROM tbl_nav_info WHERE nav_id = #{nav_id,jdbcType=INTEGER}
	</delete>
	
	<!-- 批量删除导航信息信息-->
	<delete id="deleteBatchNavInfo" parameterType="NavInfo">
		DELETE FROM tbl_nav_info WHERE nav_id IN
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item.nav_id,jdbcType=INTEGER}
		</foreach>
	</delete>
</mapper>
